{{define "title"}}Login{{end}}

{{define "main"}}
    <a href="article/create">Create Article</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Categories</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{range .Articles}}
                <tr>
                    <td>{{.ID}}</td>
                    <td><a href="">{{.Title}}</a></td>
                    <td>{{fromArrayToString .Categories}}</td>
                    <td>{{.CreatedAt}}</td>
                    <td>
                        <a href="/manage/article/edit/{{.ID}}">Edit</a>
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>
{{end}}
