{{define "title"}}Login{{end}}

{{define "main"}}
<form action='/manage/article/create' method='POST' novalidate>
    <div>
        <label>Title:</label>
        {{with .Form.FieldErrors.title}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='title' name='title' value='{{.Form.Title}}'>
    </div>
    <div>
        <label>Body:</label>
        {{with .Form.FieldErrors.body}}
            <label class='error'>{{.}}</label>
        {{end}}
        <textarea name="body">{{.Form.Body}}</textarea>
    </div>
    <div>
        <label>Categories:</label>
        {{with .Form.FieldErrors.categories}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='categories' name='categories[]' value='{{fromArrayToString .Form.Categories}}'>
    </div>
    <div>
        <input type='submit' value='Save'>
    </div>
</form>
{{end}}
