{{define "base"}}
  <!doctype html>
  <html lang='en'>
    <head>
      <meta charset='utf-8'>
      <title>{{template "title" .}} - Snippetbox</title>
    </head>
    <body>
      <header>
        <h1><a href='/'>Snippetbox</a></h1>
        <nav>
            <div>
                <a href='/'>Home</a>
                <!-- Toggle the link based on authentication status -->
                {{if .IsAuthenticated}}
                    <a href='/manage/article'>Manage articles</a>
                {{end}}
            </div>
            <div>
                <!-- Toggle the links based on authentication status -->
                {{if .IsAuthenticated}}
                    <form action='/user/logout' method='POST'>
                        <button>Logout</button>
                    </form>
                {{end}}
            </div>
        </nav>
      </header>
      <main>
        {{with .Flash}}
          <div class='flash'>{{.}}</div>
        {{end}}
        {{template "main" .}}
      </main>
      <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
    </body>
  </html>
{{end}}
